.SidebarMainContainer{
    width: 35%;
    border-right: 1px solid #cad0e4;
    background-color: #3e3c61;

}
.ChatMainContainer{
     width: 65%;
}

.NavbarMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 3rem;
    background-color: #2f2d52;
    align-items: center;
    font-family:sans-serif;

    color: white;
}
.NavbarMainContainer >h1{
    font-size: 1.0rem;
    color: rgb(244, 244, 244);
    padding: 0.2rem;
    padding-left: 0.5rem;
    /* font-family:sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.user>span{
     font-size: 1.0rem;
    color: rgb(244, 244, 244);
    font-weight: 200;
    padding: 0.2rem;
    font-family:sans-serif;

}
.user >img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.user >button{
    background-color: #5d5b8d;
    padding: 0.4rem;
    color: #ddddf7;
    font-size:10px;
    border: none;
    cursor: pointer;
}
.SearchForm{
    border-bottom:1px solid gray;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.SearchContainer,.SearchUserChat{
    display: flex;
    flex-direction: column;
    color: azure;

}
.SearchForm{
    padding: 10px;
   
}
.SearchForm>input{
    background: transparent;
      border: none;
    color: white;
     outline: none;
     width: 100%;
}
.SearchUserChat{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    align-items: center;
}

.SearchUserChat:hover{
    background-color:#2f2d52 ;
}
.UserChatInfo{
      display: flex;
    flex-direction: column;
    
    padding: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

}
.UserChatInfo>span{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.UserChatInfo>p{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: lightgray;
    padding: 0.001rem;
    margin: 0.001rem;
    align-items: flex-start;
}
.SearchUserChat>img{
     height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    object-fit: cover;
}

/* //chat  */
.ChatMainContainer{
    display: flex;
    flex-direction: column;
}
.chatInfo{
    height: 50px;
    background-color:#5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatInfo>span{
    color: lightgray;
    padding-left: 1rem;
   
}
.chatIcons{
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

/* messages */
.MessagesContainer{
    background-color:#ddddf7;
    padding: 10px;
    height: 80vh;
     overflow: scroll;
     overflow-x: hidden;
   
    /* height: calc(100% -140px); */
}
.InputContainer{
    background-color: white;
    height: 25px;
    padding: 0.625rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
    flex-direction: row;
}
.InputContainer>input{
    outline: none;
    border: none;
    width: 75%;
    
}
.send{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.send>button{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #4e72e8;

}
.select,.send>button{
    cursor: pointer;
}
.Message{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}
.MessageInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.MessageInfo>img{
     height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    object-fit: cover;
}
.MessageInfo>span{
    font-size: 0.8rem;
    align-items: center;
    color: gray;
    font-weight: 300;

}
.MessageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.MessageContent>p{
    background-color: white;
    padding: 10px 20px;
    border-radius: 0 10px 10px 10px;
    max-width: max-content;
}
.MessageContent>img{
    width: 50%;
    padding-top: 0.5rem;
}
.owner{
    flex-direction: row-reverse;
}
.owner p{
     background-color: #8da4f1;
     color: white;
     border-radius: 10px 0 10px 10px;
}
.owner>.MessageContent{
    align-items: flex-end;
}
.send>img{
    position: fixed;
    top: 16.2rem;
    left: 35rem;
 
    width: 14rem;
    height: 15rem;
    border: solid 5px #5d5b8d;;
  
}
@media screen and (max-width: 806px) {
    .user>button{
        position: absolute;
        margin-top: 85vh;
        margin-left: -35vw;
    }
    .UserChatInfo>span{
        font-size: 10px;
    }

    .send{
    display: flex;
    flex-direction: row;
    /* gap: 0.2rem; */
    align-items: center;
     }
 

.SendButton{
    display: flex;
    position: absolute;
            bottom: 2.5vh;
            right: 5.0vw;

    border: none;
    padding: 0.4rem;
    
    color: white;
    background-color: #4e72e8;
    cursor: pointer;

}
.InputContainer>input {
    outline: none;
    border: none;
    width: 90%;
}
.send>button {
    border: none;
    padding: 0.4rem;
    font-size:0.625rem ;
    color: white;
    background-color: #4e72e8;
}
.ClearButton{
    display: flex;
    display: none;
    position: absolute;
     bottom: 2.5vh;

    right: 15vh;
    border: none;
   
    color: white;
    background-color: #4e72e8;
    cursor: pointer;

}
.attach{
    cursor: pointer;
    display: none;
}
.MessagesContainer{
    height: 72vh;
}
.select{
    size: 15px;
    display: flex;
    justify-content: flex-end;
}
.UserChatInfo>p{
    font-size: 8px;
   
}
    .NavbarMainContainer >h1,.user>span {
        font-size: 0.8rem;
    }
   
    .UserChatInfo{
        padding: 0.0001rem;
        padding-left: 0.001rem;

    }
    .SearchUserChat>img{
        height: 2rem;
        width: 2rem;
    }
    .user{
        display: flex;
        flex-direction: column;
    }
    .NavbarMainContainer{
        height: 5rem;
    }
    .owner p,.MessageContent>p{
        font-size: 10px;
        padding: 7px 7px;
    }
    .MessageInfo>span{
        font-size: 10px;
    }
    .MessageInfo>img{
        height: 2rem;
        width: 2rem;
    }
 
    
}
.firebaseIcon :hover{
  color: #043d7a;
  cursor: pointer;
  transition: 0.3s linear;
}
